<!--
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>MEU PERFIL</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
-->
    <main>
        <div class="infos-pessoais">

            <div class="image-frame">
                <img src="photos/paulo.jpg" alt="Paulo Tocando Violão" width="200" height="100">
            </div>

            <div>
                <table>
                    <tr>
                        <td><img src="photos/cake.png" alt="Icone de bolo" width="20" height="10"></td>
                        <td>12/01/2001</td>
                    </tr>
                </table>
                <hr>
                <h3>CONTATO</h3>
            </div>

            <div>
                <table>
                    <tr>
                        <td><img src="photos/pinMark.png" alt="Icone de GPS" width="30" height="20"></td>
                        <td>Endereço: Rua São Jerônimo, 160. Apto. 101, Bloco D - Blumenau (SC)</td>
                    </tr>
                    <tr>
                        <td><img src="photos/mail.png" alt="Icone de email" width="30" height="20"></td>
                        <td>pdeoliveirafreitasrodrigues@gmail.com</td>
                    </tr>
                    <tr>
                        <td><img src="photos/github.png" alt="Icone do github" width="30" height="20"></td>
                        <td><a
                                href="https://github.com/pdeoliveirafreitasrodrigues">github.com/pdeoliveirafreitasrodrigues</a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="photos/linkedin.png" alt="Icone do linkedin" width="30" height="20"></td>
                        <td><a
                                href="https://linkedin.com/in/paulo-ricardo-b51aa5181">linkedin.com/in/paulo-ricardo-b51aa5181</a>
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <td><img src="photos/mail.png" alt="Icone de email" width="30" height="20"></td>
                        <td>pdeoliveirafreitasrodrigues@gmail.com</td>
                    </tr>
                    <tr>
                        <td><img src="photos/mail.png" alt="Icone de email" width="30" height="20"></td>
                        <td>pdeoliveirafreitasrodrigues@gmail.com</td>
                    </tr>
                    <tr>
                        <td><img src="photos/mail.png" alt="Icone de email" width="30" height="20"></td>
                        <td>pdeoliveirafreitasrodrigues@gmail.com</td>
                    </tr>-->
                </table>
            </div>
            
            <div>
                <!-- <h3>COMPETÊNCIAS</h3>-->
            </div>


        </div>


        <div class="infos-gerais">
            <h1>PAULO RODRIGUES</h1>
            <br>
            <div style="width: 70%;">
                <h2>Biografia:</h2>
                <p>Paulo, uma personalidade vibrante de 22 anos, nasceu na encantadora cidade de Passos, em Minas
                    Gerais.
                    Desde cedo, ele foi envolvido pela magia da música e pela energia dos esportes. Com um coração cheio
                    de
                    paixões, Paulo encontrou sua felicidade em diversos aspectos da vida.</p>
                <p>Desde que descobriu sua aptidão musical, Paulo mergulhou de cabeça nesse universo encantador. A
                    música se
                    tornou a trilha sonora de sua existência, permeando seus dias com harmonia e emoção. Seu talento
                    musical
                    se manifesta através da produção musical, onde Paulo canaliza sua criatividade e habilidades
                    técnicas
                    para criar composições que encantam os ouvidos daqueles que as escutam. Como um verdadeiro mestre
                    das
                    melodias, ele trilha seu caminho como um freelancer, transformando ideias em realidade sonora e
                    deixando
                    sua marca no mundo da música.</p>
                <p>Contudo, a música não é a única paixão que Paulo cultiva. Sua alma aventureira e espírito livre o
                    levaram
                    a se apaixonar por jogos e viagens. Nos momentos de descontração, ele encontra diversão em
                    desafiar-se
                    em jogos eletrônicos, mergulhando em mundos virtuais cheios de adrenalina e estratégia. Além disso,
                    Paulo alimenta sua sede por experiências ao viajar e explorar novos lugares. Cada destino visitado
                    traz
                    consigo uma dose extra de inspiração e aprendizado, nutrindo seu espírito curioso e sua sede de
                    conhecimento.</p>
                <p>Com uma mente inquieta e uma paixão por desafios, Paulo investiu em sua educação e alcançou o diploma
                    em
                    Sistemas de Informações. Seu amor pela tecnologia e sua capacidade de entender os meandros do mundo
                    digital permitiram que ele se destacasse nessa área em constante evolução. Através dessa formação,
                    Paulo
                    adquiriu as habilidades necessárias para se aventurar no mundo do trabalho como freelancer,
                    oferecendo
                    seus serviços de produção musical. Essa combinação única de habilidades o torna um profissional
                    versátil, capaz de unir sua paixão pela música com a sua expertise em tecnologia.</p>
                <p>Paulo é uma pessoa com muitos talentos e um espírito resiliente. Ele abraça as oportunidades com
                    entusiasmo e se dedica incansavelmente a cada novo projeto que assume. Seu amor pela música, sua
                    sede
                    por aventuras e sua capacidade de unir paixão e profissão são as forças que o impulsionam a
                    continuar
                    trilhando seu caminho, compartilhando sua arte com o mundo e espalhando alegria através dos acordes
                    que
                    ecoam em suas produções musicais.</p>
            </div>

            <br>
            <header>
                <h2>Sobre:</h2>
                <nav>
                    <ul>
                        <li><a href="#LinksUteis">Links Úteis</a></li>
                        <li><a href="#VideoFavorito">Vídeo Favorito</a></li>
                        <li><a href="#Contato">Especialidades</a></li>
                    </ul>
                </nav>
            </header>

            <section id="LinksUteis">
                <h3>Links Úteis:</h3>
                <ul>
                    <li><a href="https://github.com/pdeoliveirafreitasrodrigues">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/paulo-ricardo-b51aa5181/">Linkedin</a></li>
                    <li><a href="https://www.youtube.com/watch?v=xIFgKBUYODo&t=629s&pp=ygULYm9iIGVzcG9uamE%3D">Desenho
                            do
                            Bob-Esponja</a></li>
                </ul>
            </section>

            <br>

            <section id="VideoFavorito">
                <h3>Vídeo Favorito:</h3>
                <a href="https://www.youtube.com/embed/Z5NoQg8LdDk">POLYPHYA - PLAYING GOD</a>
                <br>
                <br>
                <br>
            </section>

            <section id="Contato">
                <h3>Conhecimentos</h3>
                <table>
                    <tr>
                        <th></th>
                        <th>JR</th>
                        <th>Pleno</th>
                        <th>Senior</th>
                        <th>GOD Supremo</th>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>x</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>x</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Barganha</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>x</td>
                    </tr>
                    <tr>
                        <td>Valorant</td>
                        <td></td>
                        <td>x</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dançar brake</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                    </tr>
                </table>
            </section>
        </div>
    </main>

<!-- </body> -->

<footer>
    <p>&copy; 2023 Minha Página | Todos os direitos reservados</p>
</footer>

<!-- </html> -->