body {
    background-color: #ffffff; /* cor de fundo padrão (claro) */
}

.dark-theme {
    background-color: #000000; /* cor de fundo para o tema escuro */
    color: #ffffff; /* cor do texto para o tema escuro */
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
