@media screen and (max-width: 768px) {
    body {
        background-color: #100b2e;
        /* Cor de fundo para dispositivos com largura máxima de 768px */
    }
}

.image-frame {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.image-frame img{
    border-radius: 500px;
    text-align: center;
}

.infos-pessoais {
    background-color: #dad0d0;
    color: #100b2e;
    width: 30%;    
    justify-content: center !important;
}
.infos-pessoais td{
    border: none;
    font-size: small;
    text-align: left;
}
.infos-pessoais a {
    color: #100b2e;
    font-weight: bold;
}
.infos-pessoais h3 {
    color: #100b2e;
    text-align: left;
    padding-left: 10%;
}

.infos-gerais{
    padding: 5px;
    width: 70%;
    margin-left: 10%;
}

.imagi{
    align-items: center;
}

.imagi td {
    justify-content: center !important;
}


body {
    background-color: #100b2e;
    /* Cor de fundo padrão */
    color: #ffffff;
    text-align: justify;
}

main {
    display: flex;
}

h1 {
    color: #ffffff;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #72e9a4;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: justify;
}

footer {
    background-color: #213357;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}